extends ../layout.pug

block content
  h1 Редактировать метку
  form(action=`/labels/${label.id}?_method=PATCH`, method='POST')
    label(for='data_name') Название метки
    input(type='text', name='data[name]', id='data_name', required, minlength='1', value=label.name)
    button(type='submit') Сохранить
