extends ../layout.pug

block content
  h1 Новая метка
  form(action='/labels', method='POST')
    label(for='name') Название метки
    input(type='text', name='data[name]', id='name', required, minlength='1')
    button(type='submit') Создать
