// Import Bootstrap CSS
@import "bootstrap";

// Our custom styles can be added here


html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.main-content {
	flex: 1;
}
// Sticky footer styles
.footer {
	margin-top: auto;
	width: 100%;
	text-align: center;
}

