//- Statuses list page
extends ../layout.pug

block content
  h1 Statuses
  a.btn.btn-primary(href="/statuses/new") Create status
  if statuses.length
    table.table.table-striped.mt-3
      thead
        tr
          th Name
          th Actions
      tbody
        each status in statuses
          tr
            td= status.name
            td
              form(action=`/statuses/${status.id}?_method=DELETE`, method='POST', style='display:inline;')
                button.btn.btn-sm(type='submit' style='background: #fff; color: #e57373; border: 1px solid #e57373;') Delete
  else
    div.text-muted.mt-4 No statuses found
  if typeof flash !== 'undefined' && flash.success && flash.success.length
    each msg in flash.success
      div.alert.alert-success.mt-3= msg
  if typeof flash !== 'undefined' && flash.error && flash.error.length
    each msg in flash.error
      div.alert.alert-danger.mt-3= msg
