//- New status page
extends ../layout.pug

block content
  h1= t('statuses.index.createStatus')
  form(action='/statuses', method='POST')
    .mb-3
      label.form-label(for='name')= t('statuses.index.name')
      input.form-control(type='text', name='name', id='name', required, minlength='1')
    button.btn.btn-primary(type='submit')= t('statuses.index.createStatus')
