extends ../layout

block content
block content
  h1 Create label
  form(action='/labels', method='POST')
    .mb-3
      label.form-label(for='name') Name
      input.form-control(type='text', name='name', id='name', required, minlength='1')
    button.btn.btn-primary(type='submit') Create label
